#profile img {
    object-fit: cover;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

@media (min-width: 1280px) {
    #profile img {
        height: 176px;
        width: 176px;
    }
}

header {
    padding-block: 32px;
    font: var(--text-md);

}

header .container {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}


#profile {
    display: flex;
    gap: 32px;

}

#profile > div {
    max-width: 300px;
}

#profile h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}



#info {
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: auto;
    
}

@media (min-width: 1280px) {
    
    #profile > div {
        max-width: 384px;
    }

    #info {
        margin-left: 350px;
    }
}


#info li {
    display: flex;
    align-items: center;
    gap: 8px;
}