main {
    display: flex;
    flex-wrap: wrap;
    padding-block: 24px;
    gap: 24px;
    justify-content: center;
}

main img {
    width: 286px;
    height: 286px;
    object-fit: cover;
    transition: filter 0.3s;
}

main img:hover {
    filter:brightness(120%);
    filter:contrast(150%);
}
