.desktop-only {
  display: none;
}


.header-content {
  /* display: flex; */
  flex-direction: column;
  padding-inline: 32px;

}


.resume {
  width: 280px;
  text-align: left;

}


.flex {
  display: flex;
}
#profile {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1280px){
  .desktop-only {
    display: initial;
  }
  
  .header-content {
    display: flex;
    flex-direction: row;
  }

  #profile {
    flex-direction: row;
  }

  .container {
    padding-inline: 32px;
    width: 1280px;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
  }

  .bg_surface_color {
    justify-content: center;
    margin: 0 auto;
  }

  .nav-menu {
    padding-inline: 32px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
}
